--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.2
transformers==4.40.1
soundfile==0.12.1
numpy==1.26.4
scipy==1.13.0; python_version < '3.13'
librosa==0.10.1
streamlit==1.33.0
